# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Virtual Environments ---
venv/
env/

# --- Pyrogram Session Files ---
*.session
*.session-journal

# --- Environment Variables ---
.env

# --- Logs ---
*.log

# --- IDE / Editor Settings ---
.vscode/
.idea/

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Others ---
*.bak
*.swp
